<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Thot Admin{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
    </head>
    <body>
        <div class="ui main container">
            {% for label, messages in app.flashes %}
              {% for message in messages %}
                  <div class="ui icon message {{ label }} no-print">
                      <i class="question circle outline icon"></i>
                      <div class="content">
                        <div class="header">
                          {{ ("message." ~ label)|trans }}
                        </div>
                        <p>{{ message }}</p>
                      </div>
                  </div>
              {% endfor %}
            {% endfor %}

            <div class="ui secondary pointing menu">
              <a href="{{ path('admin_home') }}" class="{% if menu|default('home') == 'home' %}active{% endif %} item">Accueil</a>
              <a href="{{ path('admin_inscriptions') }}" class="{% if menu|default('home') == 'register' %}active{% endif %} item">Inscriptions</a>
              <a href="{{ path('admin_news') }}" class="{% if menu|default('home') == 'news' %}active{% endif %} item">Actualités</a>
              <a href="{{ path('admin_press') }}" class="{% if menu|default('home') == 'press' %}active{% endif %} item">Revue de presse</a>
              <a href="{{ path('admin_partners') }}" class="{% if menu|default('home') == 'partners' %}active{% endif %} item">Partenaires</a>
              <a href="{{ path('admin_members') }}" class="{% if menu|default('home') == 'team' %}active{% endif %} item">Équipe</a>
              <a href="{{ path('admin_examens') }}" class="{% if menu|default('home') == 'exam' %}active{% endif %} item">Examens</a>
              <a href="{{ path('translation_index') }}" class="{% if menu|default('home') == 'translation' %}active{% endif %} item">Traductions</a>
              <div class="right menu">
                <a href="{{ path('home') }}" class="ui item">Revenir au site</a>
              </div>
            </div>

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>