{% extends 'admin/base.html.twig' %}
{% set menu = 'team' %}

{% form_theme form _self %}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div class="field">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{% block body %}
<h1>{% if member.id is defined %}Collaborateur : {{ member.name }}{% else %}Nouveau collaborateur{% endif %}</h1>

{{ form_start(form, {attr: {class: 'ui form'}}) }}
{{ form_row(form.name) }}
{{ form_row(form.job) }}
{{ form_row(form.sortingOrder, {attr: {placeholder: '1'}}) }}
{% if image %}
<img src="{{ asset('/uploads/members/' ~ image) }}">
{% endif %}
{{ form_row(form.image) }}
<a href="{{ path('admin_members') }}" class="ui button"><i class='ui icon left arrow'></i> Annuler</a>
<button class="ui button submit green" type="submit"><i class='ui icon save outline'></i> Enregistrer</button>
{% if member.id %}
<a href="{{ path('admin_member_delete', {id: member.id}) }}" class="ui button red right floated"><i class='ui icon trash'></i> Supprimer</a>
{% endif %}
{{ form_rest(form) }}
{% endblock %}