{% extends 'admin/base.html.twig' %}
{% set menu = 'press' %}

{% form_theme form _self %}

{%- block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div class="field">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{% block body %}
<h1>{% if press.id is defined %}Revue de presse : {{ press.title }}{% else %}Nouvelle parution{% endif %}</h1>

{{ form_start(form, {attr: {class: 'ui form'}}) }}
{{ form_row(form.title) }}
{{ form_row(form.issue) }}
{{ form_row(form.source, {attr: {class: 'ui dropdown search selection'}}) }}
{{ form_row(form.publishedAt) }}
{{ form_row(form.link) }}
{{ form_row(form.document) }}
<a href="{{ path('admin_press') }}" class="ui button"><i class='ui icon left arrow'></i> Annuler</a>
<button class="ui button submit green" type="submit"><i class='ui icon save outline'></i> Enregistrer</button>
{{ form_rest(form) }}
{% endblock %}