{% extends 'base.html.twig' %}
{% set menu = "contact" %}
{% block title %}{{ parent() }} {{ "contact.title"|trans }}{% endblock %}

{% block body %}
<section class="ui padded grid stackable intro">
    <div class="main-color ten wide column">
        <h1 class="title">{{ "contact.title"|trans }}</h1>
        <h2 class="subtitle">{{ "contact.text"|trans }}</h2>
    </div>
    <div class="secondary-color six wide column"></div>
</section>

<section class="contact">
    {% if error is defined and error is not null %}
    <div class="ui error message">
        <div class="header">{{ "contact.form.error"|trans }}</div>
        <p>{{ error|trans }}</p>
    </div>
    {% elseif info is defined and info is not null %}
    <div class="ui success message">
        <div class="header">{{ "contact.form.info"|trans }}</div>
        <p>{{ info|trans }}</p>
    </div>
    {% endif %}

    <form class="ui form" method="POST" id="contact-form">
        <div class="ui grid  equal width">
            <div class="column">
                <div class="field">
                    <label>{{ "contact.form.name"|trans }}</label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">
                    <label>{{ "contact.form.email"|trans }}</label>
                    <input type="email" name="email" required="required">
                </div>
                <div class="field">
                    <label>{{ "contact.form.subject"|trans }}</label>
                    <select name="subject" class="dropdown">
                        <option>{{ "contact.subject.jobs"|trans }}</option>
                        <option>{{ "contact.subject.volunteer"|trans }}</option>
                        <option>{{ "contact.subject.other"|trans }}</option>
                    </select>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label>{{ "contact.form.message"|trans }}</label>
                    <textarea name="message" rows="10"></textarea>
                </div>
                <button class="g-recaptcha submit button" data-sitekey="{{ recaptcha_id }}" data-callback='onSubmit'>{{ "contact.form.send"|trans }}</button>
            </div>
        </div>
    </form>
</section>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="//www.google.com/recaptcha/api.js" async defer></script>
  <script>
    function onSubmit(token) {
      console.log("submit")
      document.getElementById("contact-form").submit();
    }
  </script>
{% endblock %}
