{% extends 'base.html.twig' %}
{% set menu = "jobs" %}
{% block title %}{{ parent() }} {{ "jobs.title"|trans }}{% endblock %}

{% block body %}
<section class="ui padded grid stackable intro">
    <div class="main-color ten wide column">
        <h1 class="title">{{ "pedagogy.jobs"|trans }}</h1>
        <h2 class="subtitle">{{ "profs.volunteers"|trans }}</h2>
    </div>
    <div class="secondary-color six wide column">
        <div class='ui segment basic centered title'>{{ "quick.access"|trans }}</div>
        <div class='ui segment basic centered'><a href="#professeur">{{ "become.prof"|trans }}</a> <sub>↴</sub></div>
        <div class='ui segment basic centered'><a href="#benevole">{{ "become.volunteer"|trans }}</a> <sub>↴</sub></div>
    </div>
</section>

<section class="text">
    <a name="professeur"></a>
    <div class="title">{{ "prof.jobs.how"|trans }}</div>
    {% if settings.candidatures_open %}
        <div class="teacher open">{{ "prof.jobs.open"|trans }}</div>
    {% else %}
        <div class="teacher closed">
            <div class="ui grid equal width main-color-framed">
                <div class="column">{{ "prof.jobs.closed"|trans }}</div>
                <div class="column explication">{{ "profs.jobs.announce"|trans }}</div>
            </div>
        </div>
    {% endif %}
    <div class="ui grid three columns stackable">
        <div class="column">
            <p>{{ "prof.jobs.1"|trans }}</p>
        </div>
        <div class="column">
            <p>{{ "prof.jobs.2"|trans }}</p>
        </div>
        <div class="column">
            {% if settings.candidatures_open %}
            <p>{{ "prof.jobs.3"|trans }}</p>
            {% else %}
            <p>{{ "prof.jobs.3.closed"|trans }}</p>
            {% endif %}
        </div>
    </div>
</section>

<section class="text">
    <a name="benevole"></a>
    <div class="title">{{ "volunteer.how"|trans }}</div>
    <div class="subtitle">{{ "volunteer.subtitle"|trans }}</div>
    <div class="ui grid equal two columns width texts">
        {% if settings.benevoles_open %}
            <div class="column">
                <div class="full-height">
                    <h4>{{ "volunteer.jobs"|trans }}</h4>
                    <p>{{ "jobs.school.1"|trans }}</p>
                    <p>{{ "jobs.school.2"|trans }}</p>
                    <p><strong>{{ "jobs.school.3.warning"|trans }}</strong> : {{ "jobs.school.3.text"|trans }}</p>
                    <a href="https://forms.gle/efgeUg3oHE4bhmFs5" class="button no-margin">{{ "become.volunteer"|trans }}</a>
                </div>
            </div>
        {% else %}
            <div class="column">
                <div class="full-height">
                    <h4>{{ "volunteer.jobs"|trans }}</h4>
                    <p>{{ "volunteer.jobs.closed"|trans }}</p>
                    <p>{{ "volunteer.jobs.announce"|trans }}</p>
                </div>
            </div>
        {% endif %}
        <div class="column">
            <div class="tertiary-color full-height">
                <h3><span class="afterbar">{{ "volunteer.jobs.asso"|trans }}</span></h3>
                <p>{{ "volunteer.jobs.asso.text"|trans }}</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}