{% extends 'base.html.twig' %}
{% set menu = "school" %}
{% block title %}{{ parent() }} {{ "manifesto.title"|trans }}{% endblock %}

{% block body %}
<section class="ui padded grid stackable intro">
    <div class="main-color ten wide column">
        <h1 class="title">{{ "school.title"|trans }}</h1>
        <h2 class="subtitle">{{ "manifesto.mission"|trans }}</h2>
    </div>
    <div class="secondary-color six wide column">
        <div class='ui segment basic centered title'>{{ "manifesto.intro"|trans }}</div>
    </div>
</section>

<section class="text">
    <div class="ui grid centered two columns stackable">
        <div class="column">
            <h2>1 — {{ "manifesto.definition.title"|trans }}</h2>
            <p>{{ "manifesto.definition.1"|trans }}</p>
            <h2>2 — {{ "manifesto.equality.title"|trans }}</h2>
            <p>{{ "manifesto.equality.1"|trans }}</p>
            <h2>3 — {{ "manifesto.mission.title"|trans }}</h2>
            <p>{{ "manifesto.mission.1"|trans }}</p>
            <h2>4 — {{ "manifesto.secular.title"|trans }}</h2>
            <p>{{ "manifesto.secular.1"|trans }}</p>
            <h2>5 — {{ "manifesto.respect.title"|trans }}</h2>
            <p>{{ "manifesto.respect.1"|trans }}</p>
        </div>
    </div>
</section>
{% endblock %}