{% extends 'base.html.twig' %}
{% set menu = "news" %}
{% block title %}{{ parent() }} {{ "news.title"|trans }}{% endblock %}

{% block body %}

<section class="ui padded grid stackable intro">
    <div class="main-color ten wide column">
        <h1 class="title">{{ "news.title"|trans }}</h1>
        <h2 class="subtitle">{{ news.title }}</h2>
    </div>
    <div class="secondary-color six wide column"></div>
    <div class="news-image-wrapper">
        <div class="news-image" style="background-image: url('{{ asset('/uploads/news/' ~ news.image) }}');"></div>
    </div>
</section>

<section class="ui intro-news-article">
    <div class="news-theme">{{ news.theme }}</div>
    <div class="news-date">{{ news.publishedAt|date('d/m/Y') }}</div>
    <div class="news-content">{{ news.content|raw }}</div>
</section>

<section class="ui file-news-article">
    <div class="news-file"><strong><i class="ui icon file"></i> {{ "linked.file"|trans }}</strong> : <a href="{{ asset('/uploads/files/' ~  news.linkedFile) }}" target="_blank">{{ (news.linkedFile)[13:] }}</a></div>
</section>

{% if sameThemeNews %}
<section class="news" id="actualites">
    <div class="title">{{ "on.the.same.theme"|trans }}</div>
    <div class="ui grid two columns stackable">
      {% include '_partials/articles.html.twig' with { articles: sameThemeNews } %}
    </div>
</section>
{% endif %}

{% endblock %}