{% extends 'base.html.twig' %}
{% set menu = "school" %}
{% block title %}{{ parent() }} {{ "school.title"|trans }}{% endblock %}

{% block body %}
<section class="ui padded grid stackable intro">
    <div class="main-color ten wide column">
        <h1 class="title">{{ "the.school"|trans }}</h1>
        <h2 class="subtitle">{{ "intensive.cursus"|trans }}</h2>
    </div>
    <div class="secondary-color six wide column">
        <div class='ui segment basic centered'>{{ "quick.access"|trans }}</div>
        <div class='ui segment basic centered'><a href="#histoire">{{ "our.story"|trans }}</a></div>
        <div class='ui segment basic centered'><a href="#pedagogie">{{ "our.pedagogy"|trans }}</a></div>
        <div class='ui segment basic centered'><a href="#equipe">{{ "our.team"|trans }}</a></div>
    </div>
</section>

<section class="text">
    <a name="histoire"></a>
    <div class="title">{{ "about"|trans }}</div>
    <div class="ui grid texts">
        <div class="ten wide column">
            <h4>{{ "school.who.are.we"|trans }}</h4>
            <div class="ui grid equal width stackable">
                <div class="column"><p>{{ "school.constitution"|trans }}</p></div>
                <div class="column"><p>{{ "school.creation"|trans }}</p></div>
            </div>
        </div>
        <div class="six wide column">
            <h4>{{ "school.accronym"|trans }}</h4>
            <p>{{ "school.egypt"|trans }}</p>
        </div>
    </div>
    <a href="{{ path('manifesto') }}" class="button">{{ "read.manifesto"|trans }}</a>
</section>

<section class="text">
    <a name="pedagogie"></a>
    <div class="title">{{ "pedagogy"|trans }}</div>
    <div class="ui grid equal three columns width texts">
        <div class="column">
            <h3 class="main-color"><span>Les session d'apprentissage durent 16 semaines à raison de 14h/semaine.</span></h3>
        </div>
        <div class="column">
            <h4>Une offre de Français Langue Étrangère (FLE) opur tous les exilés en dessus du niveau Bac</h4>
            <p>Nous assurons les cours pour les niveaux ALPHA, A1 et A2. L'école est destinée aux exilé(e)s n'ayant pas un niveau équivalent au Baccalauréat.</p>
            <p>Des structures d'intégration en université existent pour les diplômés du secondaire, que nous encourageons à se renseigner auprès du Resome et de Wintegreat.</p>
        </div>
        <div class="column">
            <h4>Une école fondée sur le professionnalisme des intervenants</h4>
            <ul>
                <li>Les professeurs de Thot sont tous diplômés en FLE et hébilités à mener nos étudiants vers un diplôme de français</li>
                <li>Une équipe d'artistes professionnels anime les ateliers et sorties culturelles</li>
                <li>Les pôles d'écoute (psy, sociale, juridique) et d'orientation sont assurés par des professionnels</li>
            </ul>
        </div>
        <div class="column">
            <h4>Des pôles d'écoute et d'assistance</h4>
            <p>L'expérience de l'exil est difficile. L'implication dans une formation intensive après une période peu ou pas scolarisée est complexe.</p>
            <p>Pour permettre à nos étudiants de s'épanouir dans notre langue, nous devons leur permettre de se délester des stress de l'exil. C'est pourquoi nous associons à notre pédagogie</p>
            <ul>
                <li>1 pôle d'écoute psychothérapeutique professionnel</li>
                <li>1 permanence sociale</li>
                <li>la présence d'une avocate en droit des étrangers</li>
            </ul>
        </div>
        <div class="column">
            <h4>De l'orientation professionnelle pour préparer la suite</h4>
            <p>Thot a pour mission de mener les individus à leur autonomie sociale et économique. C'est pourquoi nous détection de manière profilée les opportunités de formation et d'emploi les plus pertinents pour les nos étudiants, tenant compte de leur savoir-faire, de leur parcours et de leurs aspirations personnelles, à raison de 16 heures par session :</p>
            <ul>
                <li>Ateliers hebdomadaires d'introduction à la vie professionnelle française</li>
                <li>Orientation vers des offres de formation et emploi</li>
            </ul>
        </div>
        <div class="column">
            <h4>Un diplôme d'aptitude reconnu par l'État</h4>
            <p>Thot s'engage à mener ses apprenants vers l'otention du DILF ou du DELF A1 et A2.</p>
            <p>Il est délivré après examen écrit et oral en centre d'examen, et correspond donc à une diplôme international, reconnu par l'État français.</p>
        </div>
    </div>
</section>

<section class="ui grid three columns stackable centered team">
    {% for member in members %}
        <div class="column">
            <div class="member" style="background-image: url('{{ asset('uploads/members/' ~ member.image) }}')" alt="{{ member.name }}"></div>
        </div>
    {% endfor %}
</section>

Et de nombreux et brillants bénévoles qui aident quotidiennement pour la qualité de l'enseignement et de la structure de Thot.

{% endblock %}