{% extends 'base.html.twig' %}
{% set menu = "school" %}
{% block title %}{{ parent() }} {{ "school.title"|trans }}{% endblock %}

{% block body %}
<section class="ui padded grid stackable intro">
    <div class="main-color ten wide column">
        <h1 class="title">{{ "the.school"|trans }}</h1>
        <h2 class="subtitle">{{ "intensive.cursus"|trans }}</h2>
    </div>
    <div class="secondary-color six wide column">
        <div class='ui segment basic centered title'>{{ "quick.access"|trans }}</div>
        <div class='ui segment basic centered'><a href="#histoire">{{ "our.story"|trans }}</a> <sub>↴</sub></div>
        <div class='ui segment basic centered'><a href="#pedagogie">{{ "our.pedagogy"|trans }}</a> <sub>↴</sub></div>
        <div class='ui segment basic centered'><a href="#equipe">{{ "our.team"|trans }}</a> <sub>↴</sub></div>
    </div>
</section>

<section class="text">
    <a name="histoire"></a>
    <div class="title">{{ "about"|trans }}</div>
    <div class="ui grid texts">
        <div class="ten wide column">
            <h4>{{ "school.who.are.we"|trans }}</h4>
            <div class="ui grid equal width stackable">
                <div class="column"><p>{{ "school.constitution"|trans }}</p></div>
                <div class="column"><p>{{ "school.creation"|trans }}</p></div>
            </div>
        </div>
        <div class="six wide column">
            <h4>{{ "school.accronym"|trans }}</h4>
            <p>{{ "school.egypt"|trans|raw }}</p>
        </div>
    </div>
    <a href="{{ path('manifesto') }}" class="button">{{ "read.manifesto"|trans }}</a>
</section>

<section class="text">
    <img src="{{ asset('images/thot-team.jpg') }}" width="600px">
    <div>{{ "school.founders"|trans }}</div>
</section>

<section class="text">
    <a name="pedagogie"></a>
    <div class="title">{{ "pedagogy"|trans }}</div>
    <div class="ui grid equal three columns width texts">
        <div class="column">
            <h3 class="main-color full-height"><span>{{ "pedagogy.headline"|trans }}</span></h3>
        </div>
        <div class="column">
            <h4>{{ "pedagogy.offer.title"|trans }}</h4>
            <p>{{ "pedagogy.offer.1"|trans }}</p>
            <p>{{ "pedagogy.offer.2"|trans }}</p>
        </div>
        <div class="column">
            <h4>{{ "pedagogy.pro.title"|trans }}</h4>
            <ul>
                <li>{{ "pedagogy.pro.1"|trans }}</li>
                <li>{{ "pedagogy.pro.2"|trans }}</li>
                <li>{{ "pedagogy.pro.3"|trans }}</li>
            </ul>
        </div>
        <div class="column">
            <h4>{{ "pedagogy.poles.title"|trans }}</h4>
            <p>{{ "pedagogy.poles.1"|trans }}</p>
            <p>{{ "pedagogy.poles.2"|trans }}</p>
            <ul>
                <li>{{ "pedagogy.poles.3"|trans }}</li>
                <li>{{ "pedagogy.poles.4"|trans }}</li>
                <li>{{ "pedagogy.poles.5"|trans }}</li>
            </ul>
        </div>
        <div class="column">
            <h4>{{ "pedagogy.orient.title"|trans }}</h4>
            <p>{{ "pedagogy.orient.1"|trans }}</p>
            <ul>
                <li>{{ "pedagogy.orient.2"|trans }}</li>
                <li>{{ "pedagogy.orient.3"|trans }}</li>
            </ul>
        </div>
        <div class="column">
            <h4>{{ "pedagogy.diploma.title"|trans }}</h4>
            <p>{{ "pedagogy.diploma.1"|trans }}</p>
            <p>{{ "pedagogy.diploma.2"|trans }}</p>
        </div>
        <div class="seven wide">
            <h4>{{ "pedagogy.tailored"|trans }}</h4>
            <p>{{ "pedagogy.tailored.intro"|trans }}</p>
            <ul>
                <li>{{ "pedagogy.tailored.1"|trans }}</li>
                <li>{{ "pedagogy.tailored.2"|trans }}</li>
                <li>{{ "pedagogy.tailored.3"|trans }}</li>
                <li>{{ "pedagogy.tailored.4"|trans }}</li>
                <li>{{ "pedagogy.tailored.5"|trans }}</li>
            </ul>
        </div>

    </div>
</section>

<section class="team text">
    <a name="equipe"></a>
    <div class="title">{{ "team"|trans }}</div>
    <div class="ui grid equal width columns stackable centered">
        <div class="row">
        {% for member in members %}
            <div class="aligned column">
                <div class="member" style="background-image: url('{{ asset('uploads/members/' ~ member.image) }}')" alt="{{ member.name }}"></div>
                <div class="name">{{ member.name }}</div>
                <div>{{ member.job }}</div>
            </div>
            {% if loop.index % 3 == 0 %}
            </div><div class="row">
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="aftertitle">{{ "team.more"|trans }}</div>
</section>

{% endblock %}