<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ "title"|trans }} >{% endblock %}</title>

        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}" media="screen"/>
        {% endblock %}
    </head>
    <body>

        <nav class="ui container">
            <div class="ui text menu">
                <a href="{{ path('home') }}" class="item">
                    <img src="{{ asset('/images/logo.png') }}">
                </a>
                <a class="item{% if menu|default('home') == "school" %} active{% endif %}" href="{{ path('school') }}">{{ "menu.school"|trans }}</a>
                <a class="item{% if menu|default('home') == "news" %} active{% endif %}" href="{{ path('news') }}">{{ "menu.news"|trans }}</a>
                <a class="item{% if menu|default('home') == "contact" %} active{% endif %}" href="{{ path('contact') }}">{{ "menu.contact"|trans }}</a>
                <a class="item{% if menu|default('home') == "jobs" %} active{% endif %}" href="{{ path('jobs') }}">{{ "menu.jobs"|trans }}</a>
                <a class="item highlight" href="{{ donation_link }}">{{ "menu.donate"|trans }} ♥</a>

                <div class="ui right dropdown item lang-menu">
                    {{ ("lang." ~ app.request.locale)|trans }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="{{ path("home", { _locale: "fr"}) }}" class="item">{{ "lang.fr"|trans }}</a>
                        <a href="{{ path("home", { _locale: "en"}) }}" class="item">{{ "lang.en"|trans }}</a>
                        <a href="{{ path("home", { _locale: "ar"}) }}" class="item rtl">{{ "lang.ar"|trans }}</a>
                        <a href="{{ path("home", { _locale: "ps"}) }}" class="item rtl">{{ "lang.ps"|trans }}</a>
                        <a href="{{ path("home", { _locale: "fa"}) }}" class="item rtl">{{ "lang.fa"|trans }}</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="ui main container">
            {% block body %}{% endblock %}
        </div>

        <div class="ui container moto">
            <div class="first-circle">
                {{ "engaged.every.day"|trans }}
                <div class="action">{{ "follow.our.actions"|trans }}</div>
                <div class="social"><a href="{{ social_facebook }}"><i class="ui icon facebook"></i></a> <a href="{{ social_twitter }}"><i class="ui icon twitter"></i></a> <a href="{{ social_youtube }}"><i class="ui icon youtube"></i></a></div>
            </div>
            <div class="big-circle">{{ "moto"|trans }} </div>
            <a href="{{ donation_link }}" class="donate">{{ "menu.donate"|trans }}<br>♥</a>
        </div>

        <footer class="ui container">
            <a href="{{ path('legal') }}">{{ "footer.legal"|trans }}</a>
        </footer>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
            <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>