{% extends 'admin/base.html.twig' %}
{% set menu = 'translation' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/translation/css/bootstrap.4.1.1.min.css") }}">
    <link rel="stylesheet" href="{{ asset("bundles/translation/css/webui.css") }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/translation/js/webui.js") }}"></script>
{% endblock %}

{% block body %}
  <a href="{{ path('admin_cc') }}" class="ui icon button orange right floated"><i class="ui icon eraser"></i> Clear the cache</a>
  {% block _translation_bundle_body %}{% endblock %}
{% endblock %}